@import url("//fonts.googleapis.com/css?family=Open+Sans:300,600,700,800,italic800,italic400,400");
@import url("//fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,500&subset=latin,vietnamese");

font-face = "Open Sans", sans-serif, Arial

body
  position relative
  color #333; text-rendering optimizeLegibility
  font-family font-face; font-size 14px
  //overflow hidden

input
  padding 6px 12px; outline none
  border solid 1px #DDDDDD; border-radius 4px
  font-size 15px

.results
  margin-top 10px
  .title
    font-size 18px; font-weight bold
  .dev-list
    color gray; padding-left 2px

span.strong
  font-weight bold

a
  color #333333; text-decoration none


.developer-list
  .developer-item
    .avatar
      width 50px; height @width
      background-size contain
      background-repeat no-repeat